@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@500&family=Roboto:wght@400;700&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

main {
  width: 100vw;
  height: 100vh;
  display: grid;
  grid-template-rows: repeat(4, 1fr);
  place-items: center;
  grid-row-gap: 1rem;
  padding: 0.8rem;
  background-color: rgb(234, 237, 237, 0.6);
}
.card--container {
  max-width: 80rem;
  background-color: rgb(253, 254, 254);
  grid-area: 2;
  padding: 1rem;
  border: 0.4rem solid rgb(253, 254, 254);
  border-radius: 1rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.container-title {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: end;
}
.title {
  text-align: center;
  height: auto;
  font-size: 2rem;
  margin-bottom: 1rem;
  font-family: 'Roboto' , 'sans-serif';
  line-height: 1rem;
}
.underline {
  width: 3rem;
  background-color: rgb(52, 152, 219);
  height: 0.4rem;
}
.container-info {
  text-align: center;
}
.container-info section .info-image{
  width: 15rem;
  height: 15rem;
  max-width: 25rem;
  border-radius: 50%;
  margin: 1rem auto;
}
.container-info .name {
  font-size: 1.6rem;
  line-height: 2rem;
  letter-spacing: 0.2rem;
  margin-bottom: 0.4rem;
  text-transform: capitalize;
}
.container-info .job {
  color: rgb(46, 134, 193);
  font-size: 1.2rem;
  text-transform: uppercase;
  line-height: 2rem;
  margin-bottom: 0.4rem;
  font-weight: lighter;
}
.container-info section p {
  font-size: 1.2rem;
  letter-spacing: 0.1rem;
  text-align: justify;
  line-height: 2rem;
  color:hsl(210, 22%, 49%);
}
button{
  cursor: pointer
}
.container-info .btn-arrow {
  margin: 1rem 0 0.4rem 0;
  border: transparent;
  background: rgb(253, 254, 254);
}
.btn-surprise {
  margin-top: 0.8rem;
  padding: 0.3rem 0.8rem;
  color: rgb(46, 134, 193);
  border-radius: 1rem;
  border: 0.1rem solid rgb(133, 193, 233);
  background-color: rgb(214, 234, 248);
  box-shadow: rgba(133, 193, 233, 0.15) 1.95px 1.95px 2.6px;
}
